---
name: "tagged-release"

on:
  push:
    tags:
      - "v*"

jobs:
  publish-crates-io:
    name: "Publish to crates.io"
    needs: prepublish-check
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Publish
        run: |
          cd aws-throwaway
          cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
